{{ use('app/widgets/SLinkPager') }}
<div class="container">
    <div class="orders-list">

        <table class="orders-table" id="table">
            <thead>
            <tr>
                <th>{{ t('app', 'Номер заказа') }}</th>
                <th>{{ t('app', 'Дата заказа') }}</th>
                <th>{{ t('app', 'Последние изменения') }}</th>
                <th>{{ t('app', 'Статус заказа') }}</th>
                <th>{{ t('app', 'Сумма') }}</th>
            </tr>
            </thead>
            {% for order in orders %}
            <tbody>
            <tr class="accordion">
                <td class="arrow-td">№{{ order.id }}</td>
                <td>{{ order.created }}</td>
                <td>{{ order.updated }}</td>
                <td>{{ order.status.name }}</td>
                <td><strong>{{ order.total }} грн.</strong></td>
            </tr>
            {% for product in order.products %}
            <tr class="order-details">
                <td colspan="2">
                    <a href="{{ product.url }}" class="left image-box">
                        <span><img src="{{ product.image }}" alt="" /></span>
                    </a>
                    <a href="{{ product.url }}" class="orderd-title">{{ product.name }}</a>
                    <div class="orderd-code">Код: {{ product.articul }}</div>
                    <div class="orderd-price">{{ product.price }} грн.</div>
                </td>
                <td>{{ product.count }} штук</td>
                <td>{% if product.installation > 0 %}{{ t('app', 'Электромонтаж') }}: {{ product.installation }} грн.{% else %}{{ t('app', 'Без электромонтажа') }}{% endif %}</td>
                <td><strong>{{ product.subtotal }} грн.</strong></td>
            </tr>
            {% endfor %}
            <tr class="order-details-finaly">
                <td colspan="4">Доставка: {{ order.delivery.name }}</td>
                <td><strong>{% if order.delivery.add_cost > 0 %}{{ order.delivery.add_cost }} грн.{% else %}{{ t('app', 'бесплатно') }}{% endif %}</strong></td>
            </tr>
            </tbody>
            {% endfor %}
        </table>

        {{ s_link_pager_widget({
            'pagination' : pages,
            'firstPageLabel' : '',
            'prevPageLabel' : '',
            'nextPageLabel' : '',
            'lastPageLabel' : '',
            'activePageCssClass': "nav-step active",
            'maxButtonCount' : 5,

            'options' : {
                'class' : 'navigation navigation-right',
            },
            'linkOptions' : {
                'class' : 'nav-step',
            },
            'firstPageCssClass' : 'nav-first',
            'prevPageCssClass' : 'nav-before',
            'nextPageCssClass' : 'nav-next',
            'lastPageCssClass' : 'nav-end',
            })
        }}
    </div>
</div>
